.label {
  display: block;
  margin-bottom: 0.5rem;
  line-height: 1;
}

.input {
  display: block;
  padding: 0.8rem;
  line-height: 1rem;
  border-radius: 0.4rem;
  width: 100%;
  border: 1px solid #eee;
  background-color: #eee;
  transition: 0.2s;
}

.input:hover,
.input:focus {
  outline: none;
  border-color: #fb1;
  background-color: #fff;
  box-shadow: 0 0 0 3px #fea;
}
