.login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.login::before {
  content: "";
  min-height: calc(100vh);
  background: url("/assets/login.jpg") no-repeat 50%;
  background-size: cover;
}

@media (max-width: 40rem) {
  .login {
    grid-template-columns: 1fr;
  }
  .login::before {
    display: none;
  }
}
